[submodule "vim/vim/bundle/vundle"]
	path = vim/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
	ignore = dirty
[submodule "vim/vim/bundle/Command-T"]
	path = vim/vim/bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
	ignore = dirty
[submodule "vim/vim/bundle/FuzzyFinder"]
	path = vim/vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
	ignore = dirty
[submodule "vim/vim/bundle/L9"]
	path = vim/vim/bundle/L9
	url = http://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "vim/vim/bundle/Tagbar"]
	path = vim/vim/bundle/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
	ignore = dirty
[submodule "vim/vim/bundle/The-NERD-tree"]
	path = vim/vim/bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
	ignore = dirty
[submodule "vim/vim/bundle/ZenCoding.vim"]
	path = vim/vim/bundle/ZenCoding.vim
	url = https://github.com/vim-scripts/ZenCoding.vim.git
	ignore = dirty
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim.git
	ignore = dirty
[submodule "vim/vim/bundle/custom-cocoa.vim"]
	path = vim/vim/bundle/custom-cocoa.vim
	url = https://github.com/vim-scripts/cocoa.vim.git
	ignore = dirty
[submodule "vim/vim/bundle/django.vim"]
	path = vim/vim/bundle/django.vim
	url = https://github.com/vim-scripts/django.vim.git
	ignore = dirty
[submodule "vim/vim/bundle/pathogen.vim"]
	path = vim/vim/bundle/pathogen.vim
	url = https://github.com/vim-scripts/pathogen.vim.git
	ignore = dirty
[submodule "vim/vim/bundle/sparkup"]
	path = vim/vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
	ignore = dirty
[submodule "vim/vim/bundle/vim-easymotion"]
	path = vim/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = dirty
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/vim/bundle/vim-rails"]
	path = vim/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule "vim/vim/bundle/vim-scala"]
	path = vim/vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
	ignore = dirty
[submodule "vim/vim/bundle/vim-golang"]
	path = vim/vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
